/*
 * Все паршалы импортировать в этот файл
 */

@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';
@import 'helpers/extras';
@import 'normalize.scss';
@import 'base.scss';

.container {
  max-width: 100%;
  padding: 0 20px;

  @media screen and (min-width: $breakpoint-sm) {
    max-width: 540px;
    margin: 0 auto;
    padding: 0;
  }

  @media screen and (min-width: $breakpoint-md) {
    max-width: 720px;
  }

  @media screen and (min-width: $breakpoint-lg) {
    max-width: 960px;
  }

  @media screen and (min-width: $breakpoint-xl) {
    max-width: 1080px;
  }
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  display: inline-block;

  text-decoration: none;
}

/* button */
.button {
  &:hover {
    box-shadow: 0px 2px 32px rgba(41, 65, 129, 0.1);
  }

  &_theme {
    padding: 10px 16px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    @include font-settings(14px, 1.14285714em);

    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;

    border-radius: 4px;

    cursor: pointer;
  }

  &_primary {
    border: 0;
    background: $primary-color;
  }

  &_outlined_transparent {
    border-color: transparent;
    background-color: transparent;
  }

  &_outlined_white {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $white-color;
  }

  &_outlined_blue {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $primary-color;

    & .button__text {
      color: $primary-color;
    }
  }

  &_place_form {
    width: 100%;

    @media screen and (min-width: $breakpoint-lg) {
      width: auto;
    }

    & .button__text {
      margin: 0 15px;
    }
  }

  &_place_description {
    & .button__text {
      margin: 0 50px;
    }
  }

  &_place_learning {
    & .button__text {
      margin: 0 68px;
    }
  }
}

.button__text {
  font-family: 'Roboto', sans-serif;

  @include font-settings(14px, 1.14285714em);

  color: rgba(255, 255, 255, 0.95);
  text-transform: uppercase;
}

/* button end */

/* page */
.page__header {
  position: absolute;
  top: 11.14px;
  left: 50%;

  display: flex;
  width: 100%;

  flex-flow: row nowrap;
  justify-content: space-between;

  transform: translateX(-50%);
}

.page__intro {
  display: flex;
  padding-top: 100px;
  padding-bottom: 50px;

  flex-flow: row wrap;

  @media screen and (min-width: $breakpoint-md-down) {
    padding: 100px 0;
  }

  @media screen and (min-width: $breakpoint-xl-down) {
    padding: 162px 0;
  }
}

.page__stacks {
  padding: 40px 0;

  @media screen and (min-width: $breakpoint-md-down) {
    padding: 70px 0;
  }

  @media screen and (min-width: $breakpoint-xl-down) {
    padding: 170px 0;
  }
}

.page__description {
  padding-top: 40px;
  padding-bottom: 70px;

  @media screen and (min-width: $breakpoint-md-down) {
    padding-top: 70px;
  }

  @media screen and (min-width: $breakpoint-xl-down) {
    padding-top: 207px;
    padding-bottom: 167px;
  }
}

.page__subscriptions {
  padding: 40px 0;

  @media screen and (min-width: $breakpoint-md-down) {
    padding: 70px 0;
  }

  @media screen and (min-width: $breakpoint-xl-down) {
    padding: 170px 0;
  }
}

.page__learning {
  padding-top: 40px;
  padding-bottom: 70px;

  @media screen and (min-width: $breakpoint-md-down) {
    padding: 70px 0;
  }

  @media screen and (min-width: $breakpoint-xl-down) {
    padding-top: 170px;
    padding-bottom: 220px;
  }
}

.page__footer {
  padding-top: 8.37px;
  padding-bottom: 8.62px;
}

/* page end */

/* header */
.header__logo {
  display: flex;

  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 0 104.06px;
}

.header__button {
  flex: 0 68px;
}

/* header end */

/* section */

.section {
  &_light-blue {
    background: $light-blue-color;
  }
}

.section__title {
  margin: 0;

  font-family: 'Poppins', sans-serif;

  @include font-settings(30px, 1.5em);

  color: $primary-color;
  text-align: center;

  @media screen and (min-width: $breakpoint-md) {
    font-size: 38px;
  }
}

/* section end*/

/* intro */

.intro {
  background: url(../images/dots-bg.png),
    radial-gradient(100% 367.66% at 0% 50.07%, #0030ae 0%, #0081f1 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__content {
  @media screen and (min-width: $breakpoint-lg) {
    display: flex;
    width: 100%;

    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
    flex-flow: nowrap;
    justify-content: flex-start;
  }
}

.intro__desc {
  margin: 0 auto;
  margin-bottom: 50px;

  color: rgba(255, 255, 255, 0.95);

  @media screen and (min-width: $breakpoint-lg) {
    max-width: 548px;
    margin-bottom: 0;

    flex: 0 548px;
  }

  @media screen and (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
    margin-right: 50px;
  }
}

.intro__desc-title {
  margin: 0;
  margin-bottom: 32px;

  font-family: 'Poppins', sans-serif;

  @include font-settings(35px, 1.33333333em);

  font-weight: 700;

  @media screen and (min-width: $breakpoint-md) {
    font-size: 48px;
  }
}

.intro__desc-text {
  margin: 0;

  font-family: 'Roboto', sans-serif;

  @include font-settings(16px, 1.375em);

  font-weight: 400;

  @media screen and (min-width: $breakpoint-sm) {
    text-align: justify;
  }
}

.intro__form {
  max-width: 344px;
  margin: auto;
  border: 0.5px solid #f4f4fe;

  flex: 0 344px;

  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.35);

  @media screen and (min-width: $breakpoint-lg) {
    max-width: 455px;
    flex: 0 455px;
  }
}

/* intro end */

/* stacks */

.stacks__title {
  position: relative;

  display: flex;
  margin-bottom: 30px;

  justify-content: center;

  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 74px;
  }

  &::before {
    position: absolute;
    top: -60px;
    z-index: -1;

    display: block;

    width: 89.074074%;
    min-height: 146px;

    @include bg-image($path: '../images/stacks-title-bg.svg', $size: contain);

    content: '';
  }
}

.stacks__cards {
  display: flex;

  flex-flow: row wrap;
  justify-content: center;
}

.stacks__card {
  max-width: 344px;
  min-height: 277px;
  margin-bottom: 32px;
  padding: 24px;
  padding-top: 27px;

  flex: 0 344px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg-down) {
    max-width: 300px;
    margin-right: 24px;
    flex: 0 300px;

    // remove right margin for every 2nd card
    &:nth-child(2n + 2) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl-down) {
    &:nth-child(1n) {
      margin-right: 24px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $breakpoint-xl) {
    margin-right: 24px;

    // remove right margin for every 3rd card
    &:nth-child(3n + 3) {
      margin-right: 0;
    }

    // remove bottom margin for the last 2 cards
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

/* stacks end */

/* description */

.description {
  background: radial-gradient(
    100% 367.66% at 0%50.07%,
    #0030ae 0%,
    #0081f1 100%
  );
  background-position: bottom;

  @media screen and (min-width: $breakpoint-md) {
    background: url(../images/description-bg.svg),
      radial-gradient(100% 367.66% at 0%50.07%, #0030ae 0%, #0081f1 100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% -7px, bottom;
  }

  @media screen and (min-width: $breakpoint-xl) {
    background-position: 50% -35px, bottom;
  }
}

.description__content {
  text-align: center;
}

.description__cards {
  display: flex;
  margin-bottom: 74px;

  flex-flow: row wrap;
  justify-content: center;

  @media screen and (min-width: $breakpoint-xl) {
    margin-bottom: 74px;

    justify-content: space-between;
  }
}

.description__card {
  max-width: 344px;
  min-height: 292px;
  margin-bottom: 32px;
  padding: 56px 32px;

  flex: 0 344px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-xl-down) {
    max-width: 300px;
    margin-right: 84px;
    margin-bottom: 0;
    flex: 0 300px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $breakpoint-xl) {
    max-width: 512px;
    margin-bottom: 0;

    flex: 0 512px;

    &:last-child {
      margin-right: 0;
    }
  }
}

/* description end */

/* subscriptions */

.subscriptions {
  @include bg-image('../images/dots-bg.png');
}

.subscriptions__title {
  position: relative;

  display: flex;
  margin-bottom: 30px;

  justify-content: center;

  &::before {
    position: absolute;
    top: -77px;
    z-index: -1;

    display: block;

    width: 88.819444vw;
    min-height: 213px;

    @include bg-image(
      $path: '../images/subscriptions-title-bg.svg',
      $size: contain
    );

    content: '';
  }

  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 104px;
  }
}

.subscriptions__cards {
  display: flex;

  flex-flow: row wrap;
  justify-content: center;
}

.subscriptions__card {
  max-width: 297px;
  min-height: 394px;
  margin-bottom: 32px;
  padding: 56px 32px;

  flex: 0 297px;

  @media screen and (min-width: $breakpoint-md-down) and (max-width: $breakpoint-lg-down) {
    &:not(:last-child) {
      margin-right: 56px;
    }
  }

  @media screen and (min-width: $breakpoint-md-down) {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 56px;
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    &:not(:last-child) {
      margin-right: 84px;
    }
  }
}

/* subscriptions end */

/* subscription-card */

.subscription-card {
  text-align: center;

  &_starter {
    & .subscription-card__header {
      padding-bottom: 28px;

      background: $green-color;
    }

    & .subscription-card__price {
      @include font-settings(70px, 1.17142857em);
    }
  }

  &_complete {
    & .subscription-card__header {
      padding-bottom: 10px;

      background: $primary-color;
    }

    & .subscription-card__price {
      @include font-settings(70px, 1.17142857em);
    }

    & .subscription-card__currency {
      margin-bottom: 2px;

      @include font-settings(40px, 1.175em);
    }
  }
}

.subscription-card__header {
  margin-bottom: 20px;

  color: $white-color;
}

.subscription-card__body {
  display: flex;
  height: 100%;

  flex-flow: column;
}

.subscription-card__desc {
  margin: 0;

  @include font-settings(12px, 152.64%);
}

.subscription-card__body {
  padding: 0 24px;
  padding-bottom: 28px;
}

.subscription-card__price {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.subscription-card__list {
  margin-bottom: 40px;
  padding-left: 17px;

  flex: 1 auto;

  text-align: left;
  list-style: disc;
}

.subscription-card__item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.subscription-card__button {
  width: 100%;

  flex: 0 auto;
}

/* subscription-card end */

/* learning */

.learning__content {
  text-align: center;

  @media screen and (min-width: $breakpoint-md) {
    text-align: left;

    @include bg-image(
      $path: '../images/learning-bg.svg',
      $size: 350px,
      $pos: right bottom
    );
  }

  @media screen and (min-width: $breakpoint-lg) {
    text-align: left;

    @include bg-image(
      $path: '../images/learning-bg.svg',
      $size: 450px,
      $pos: right bottom
    );
  }

  @media screen and (min-width: $breakpoint-xl) {
    background-size: auto;
  }
}

.learning__title {
  margin-bottom: 51px;

  @media screen and (min-width: $breakpoint-md) {
    padding-right: 150px;

    text-align: left;
  }

  @media screen and (min-width: $breakpoint-lg) {
    padding-right: 200px;
  }
}

.learning__text {
  margin-bottom: 50px;

  font-family: 'Roboto', sans-serif;

  @include font-settings(20px, 1.15em);

  font-weight: 400;

  color: rgba(68, 69, 78, 0.85);

  @media screen and (min-width: $breakpoint-md) {
    max-width: 400px;
    margin-bottom: 95px;

    text-align: left;
  }

  @media screen and (min-width: $breakpoint-lg) {
    max-width: 500px;
  }
}

/* learning end */

/* card */

.card {
  &_theme {
    display: flex;

    flex-flow: column;

    text-align: center;

    border-radius: 8px;
    background: $white-color;
    box-shadow: 0px 2px 32px rgba(41, 65, 129, 0.1);

    @media screen and (min-width: $breakpoint-md) {
      text-align: left;
    }
  }

  &__text {
    @include font-settings(16px, 1.375em);
  }

  &_place_stacks {
    & .card__title {
      margin-bottom: 16px;

      @include font-settings(20px, 1.15em);
    }

    & .card__icon::before {
      width: 64px;
      height: 64px;
      margin-bottom: 19px;
    }
  }

  &_place_description {
    & .card__title {
      margin-bottom: 15.5px;

      @include font-settings(32px, 1.5em);

      @media screen and (min-width: $breakpoint-sm) {
        @include font-settings(38px, 1.5em);
      }

      @media screen and (min-width: $breakpoint-xl) {
        margin-bottom: 55.5px;
      }
    }

    & .card__icon::before {
      display: inline-block;
      width: 104px;
      height: 104px;

      vertical-align: middle;

      @media screen and (min-width: $breakpoint-md) {
        margin-right: 36.88px;
      }
    }
  }

  &_place_subscriptions {
    padding: 0;

    & .card__header {
      padding: 16px 15px;

      text-align: center;

      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }

    & .card__title {
      margin-bottom: 10px;

      font-family: 'Open Sans', sans-serif;

      @include font-settings(24px, 1.375em);

      font-weight: 700;

      color: $white-color;
    }
  }
}

.card__title {
  position: relative;

  display: flex;
  margin: 0;

  flex-direction: column;
  align-items: center;

  font-family: 'Poppins', sans-serif;

  color: #44454e;

  @media screen and (min-width: $breakpoint-md) {
    display: block;
  }
}

.card__text {
  margin: 0;

  font-family: 'Roboto', sans-serif;

  color: rgba(68, 69, 78, 0.85);
}

/* card end */

/* icon */
.icon {
  &::before {
    display: block;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    content: '';
  }
}

$icons: polygon, 3d-point, 3d-cuboid, bounding, landmark, check, collaborate;

@include generate-pseudo-icons('icon_', $icons, '../images/icons/', 'svg');

/* icon end */

/* form */
.form {
  border-radius: 8px;

  background: $white-color;
}

.form__container {
  padding: 24px;

  @media screen and (min-width: 375px) {
    padding: 32px;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 30px;

  font-family: 'Roboto', sans-serif;

  @include font-settings(24px, 0.66666667em);

  font-weight: 500;
  color: #44454e;
}

.form__item {
  margin-bottom: 36px;

  &:nth-child(3) {
    margin-bottom: 50px;
  }

  &:last-child {
    margin-bottom: 0;
    text-align: center;

    @media screen and (min-width: $breakpoint-md) {
      text-align: right;
    }
  }
}

.form__control {
  position: relative;

  display: inline-block;
  width: 100%;
  outline: 0;
}

.form__control-title {
  position: absolute;
  left: 9.54px;
  top: -8.95px;

  display: flex;
  width: 42px;
  height: 16px;
  padding-left: 7px;

  justify-content: flex-start;
  align-items: center;

  @include font-settings(12px, 1.33333333em);

  background: $white-color;
}

/* form end */

/* input */

.input__control,
.select__control {
  width: 100%;
  min-height: 40px;

  padding-top: 4.60358%;
  padding-bottom: 3.580563%;
  padding-left: 4.092072%;
  padding-right: 13.299233%;
  border: 1px solid hsla(0, 0%, 10%, 0.38);

  font-family: 'Roboto', sans-serif;

  @include font-settings(12px, 1.5em);

  font-weight: 400;

  color: hsla(0, 0%, 0%, 0.87);
  text-transform: uppercase;

  border-radius: 8px;
  outline: 0;

  @media screen and (min-width: $breakpoint-md) {
    min-height: 56px;

    font-size: 16px;
  }

  &:focus {
    border: 1px solid $primary-color;
  }

  &:focus + .form__control-title {
    color: $primary-color;
  }

  &[type='text']::-webkit-input-placeholder {
    color: hsla(0, 0%, 0%, 0.87);
  }

  &[type='text']:-ms-input-placeholder {
    color: hsla(0, 0%, 0%, 0.87);
  }

  &[type='text']::-ms-input-placeholder {
    color: hsla(0, 0%, 0%, 0.87);
  }

  &[type='text']::placeholder {
    color: hsla(0, 0%, 0%, 0.87);
  }
}

/* input end */

/* select */

.select {
  position: relative;

  background: transparent;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::after {
    position: absolute;
    top: 19px;
    right: 15px;

    width: 10px;
    height: 5px;

    @include bg-image('../images/arrow-down.svg');

    content: '';

    @media screen and (min-width: $breakpoint-md) {
      top: 26px;
      right: 19px;
    }
  }
}

/* select end */

/* footer */

.footer {
  background: #44454e;
}

.footer__container {
  @media screen and (min-width: 1440px) {
    max-width: 1277.96px;
  }
}

.footer__content {
  display: flex;

  justify-content: space-between;
  align-items: center;

  color: rgba(255, 255, 255, 0.95);
}

.footer__copyright {
  font-family: 'Roboto', sans-serif;

  @include font-settings(12px, 1.5em);

  font-weight: 400;
}

/* footer end*/
