.page {
  font-family: $main-font-stack, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  @include font-settings(16px, 1.375em);
}

.page__header {
  position: absolute;
  top: 11.14px;
  left: 50%;

  display: flex;
  width: 100%;

  flex-flow: row nowrap;
  justify-content: space-between;

  transform: translateX(-50%);
}

.page__intro {
  display: flex;
  padding-top: 100px;
  padding-bottom: 50px;

  flex-flow: row wrap;

  @media screen and (min-width: $breakpoint-md-down) {
    padding: 100px 0;
  }

  @media screen and (min-width: $breakpoint-xl-down) {
    padding: 162px 0;
  }
}

.page__stacks {
  padding: 40px 0;

  @media screen and (min-width: $breakpoint-md-down) {
    padding: 70px 0;
  }

  @media screen and (min-width: $breakpoint-xl-down) {
    padding: 170px 0;
  }
}

.page__description {
  padding-top: 40px;
  padding-bottom: 70px;

  @media screen and (min-width: $breakpoint-md-down) {
    padding-top: 70px;
  }

  @media screen and (min-width: $breakpoint-xl-down) {
    padding-top: 207px;
    padding-bottom: 167px;
  }
}

.page__subscriptions {
  padding: 40px 0;

  @media screen and (min-width: $breakpoint-md-down) {
    padding: 70px 0;
  }

  @media screen and (min-width: $breakpoint-xl-down) {
    padding: 170px 0;
  }
}

.page__learning {
  padding-top: 40px;
  padding-bottom: 70px;

  @media screen and (min-width: $breakpoint-md-down) {
    padding: 70px 0;
  }

  @media screen and (min-width: $breakpoint-xl-down) {
    padding-top: 170px;
    padding-bottom: 220px;
  }
}

.page__footer {
  padding: 10px;

  @media screen and (min-width: $breakpoint-md) {
    padding-top: 8.37px;
    padding-bottom: 8.62px;
  }
}
